.community-hexes {
  text-align: center;
  margin-top: 2rem;
  display: block;
}

.community-hexes iframe {
  width: 100%;
  max-width: 840px;
  height: auto;
  aspect-ratio: 825 / 529;
  border: 0;
  display: block;
  margin: 0 auto 1rem;
}

.community-hexes figcaption {
  font-size: 0.9rem;
  color: var(--global-fig-caption-color);
  margin-top: 0.5rem;
}
